@model recipe_planer.Models.CookingListBuilder

@{
    ViewBag.Title = "CookingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Prepare your cooking list...</h1>
<br><br>
@Html.ActionLink("Clear", "ClearCookingList")
<br><br>
<div class="row" style="width:1500px; margin:0 auto">
    <div class="column">
        <h4>All available recipes</h4>
        <table class="table">
            @foreach (var recipe in Model.AvailableRecipes)
            {
                <tr style="font-size:14px; line-height:16px">
                    <td>
                        @recipe.Name
                    </td>
                    <td>
                        @Html.ActionLink("Add", "AddToCookingList", new { id = recipe.RecipeID })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="column" style="margin-left:100px">
        <h4>Currently picked recipes</h4>
        <table class="table">
            @foreach (var recipe in Model.CookingList)
            {
                <tr style="font-size:14px; line-height:16px">
                    <td>
                        @recipe.Name
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "RemoveFromCookingList", new { id = recipe.RecipeID })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="column" style="margin-left:100px">
        <h4>Ingredients in total</h4>
        <table class="table">
            @foreach (var ingredient in Model.SummedIngredients)
            {
                string name = ingredient.Name;
                string amount = Convert.ToString(ingredient.Amount);
                string unit = ingredient.Unit;
                string built_ingredient = name + ": " + amount + " " + unit;
                <tr style="font-size:14px; line-height:16px">
                    <td>
                        @built_ingredient
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

