@*@model recipe_planer.Models.RecipeHandler*@
@model recipe_planer.Models.CookingListBuilder

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*<h3>Names</h3>
    <ul>
        @foreach (var recipe in Model.Recipes)
        {
            <li>@recipe.name</li>
        }
    </ul>
    <br />
    <h3>Descriptions</h3>
    <ul>
        @foreach (var recipe in Model.Recipes)
        {
            <li><pre>@recipe.description</pre></li>
        }
    </ul>
    <br />
    <h3>Ingredients</h3>
    <ul>
        @foreach (var recipe in Model.Recipes)
        {
            @foreach (var ingredient in recipe.ingredients)
            {
                string name = ingredient.name;
                string amount = Convert.ToString(ingredient.amount);
                string unit = ingredient.unit;
                string built_ingredient = name + ": " + amount + " " + unit;
                <li>@built_ingredient</li>
            }
        }
    </ul>*@

<h3>Ingredients</h3>
<ul>
       @foreach (var ingredient in Model.SummedIngredients)
        {
            string name = ingredient.name;
            string amount = Convert.ToString(ingredient.amount);
            string unit = ingredient.unit;
            string built_ingredient = name + ": " + amount + " " + unit;
            <li>@built_ingredient</li>
       }
  
</ul>

